.title-header {
  text-align: center;
  color: var(--main-font-4-color);
}

.outline-0 {
  outline: 0;
}

.addButton{
    background-color:var(--main-font-3-color) ;
    color: lightyellow;
    outline: 0px;
    
}
